<div class="sidebar">
  <mat-icon
    aria-hidden="false"
    aria-label="analytics icon"
    style="font-size: 24px; margin-top: 20px"
    >water_drop</mat-icon
  >

  <div
    class=""
    style="display: flex; align-items: center; flex-direction: column"
  >
    <mat-icon
      aria-hidden="false"
      aria-label="menu icon"
      style="font-size: 24px; margin-top: 20px"
      >menu</mat-icon
    >
    <mat-icon
      aria-hidden="false"
      aria-label="home icon"
      style="font-size: 24px; margin-top: 20px"
      >home</mat-icon
    >
    <mat-icon
      aria-hidden="false"
      aria-label="home icon"
      style="font-size: 24px; margin-top: 20px"
      >article</mat-icon
    >
    <mat-icon
      aria-hidden="false"
      aria-label="menu icon"
      style="font-size: 24px; margin-top: 20px"
      >notifications</mat-icon
    >
    <mat-icon
      aria-hidden="false"
      aria-label="home icon"
      style="font-size: 24px; margin-top: 20px"
      >view_agenda</mat-icon
    >
  </div>

  <mat-icon
    aria-hidden="false"
    aria-label="analytics icon"
    style="font-size: 24px; margin-bottom: 70px"
    >logout</mat-icon
  >
</div>

<nav>
  <div style="display: flex; align-items: center; gap: 5px; position: relative">
    <span
      style="
        width: 10px;
        height: 10px;
        background-color: #ff7f5c;
        border-radius: 50%;
        position: absolute;
        left: -10px;
        bottom: 6px;
      "
    >
    </span>
    <mat-icon
      aria-hidden="false"
      aria-label="gas station icon"
      style="color: #3d5161"
      >local_gas_station</mat-icon
    >
    <h1 style="margin: 0; color: #3d5161">2/3</h1>
    <p style="margin: 0; line-height: 1; color: #3d5161">
      <span style="display: block">monitored</span>
      <span style="display: block">station</span>
    </p>
  </div>

  <div style="display: flex; align-items: center; gap: 5px; position: relative">
    <span
      style="
        width: 10px;
        height: 10px;
        background-color: #ff7f5c;
        border-radius: 50%;
        position: absolute;
        left: -10px;
        bottom: 6px;
      "
    >
    </span>
    <mat-icon
      aria-hidden="false"
      aria-label="loading icon"
      style="color: #3d5161"
      >rotate_left</mat-icon
    >
    <h1 style="margin: 0; color: #3d5161">20s</h1>
    <p style="margin: 0; line-height: 1; color: #3d5161">
      <span style="display: block">Last</span>
      <span style="display: block">Update</span>
    </p>
  </div>

  <div
    style="
      display: flex;
      gap: 10px;
      background-color: #f9f5f3;
      border-radius: 24px;
    "
  >
    <button
      style="
        padding: 6px 20px;
        border: none;
        border-radius: 24px;
        background-color: #ff7f5c;
        font-weight: 400;
        color: white;
        cursor: pointer;
      "
    >
      TODAY
    </button>

    <button
      style="
        padding: 6px 20px;
        border: none;
        border-radius: 24px;
        background-color: #f9f5f3;
        font-weight: 300;
        color: #3d5161;
        cursor: pointer;
      "
    >
      YASTERDAY
    </button>

    <button
      style="
        padding: 6px 20px;
        border: none;
        border-radius: 24px;
        background-color: #f9f5f3;
        font-weight: 300;
        color: #3d5161;
        cursor: pointer;
      "
    >
      LAST WEEK
    </button>
  </div>

  <div
    style="
      display: flex;
      gap: 40px;
      align-items: center;
      flex-wrap: wrap;
      justify-content: center;
    "
  >
    <mat-form-field class="custom-date-picker">
      <input matInput [matDatepicker]="startpicker" />
      <mat-datepicker-toggle
        matIconSuffix
        [for]="startpicker"
      ></mat-datepicker-toggle>
      <mat-datepicker #startpicker></mat-datepicker>
    </mat-form-field>

    <mat-form-field class="custom-date-picker">
      <input matInput [matDatepicker]="endpicker" />
      <mat-datepicker-toggle
        matIconSuffix
        [for]="endpicker"
      ></mat-datepicker-toggle>
      <mat-datepicker #endpicker></mat-datepicker>
    </mat-form-field>
  </div>
</nav>

<div class="main-body">
  <div class="mid-section">
    <div class="inner-mid-section" style="margin: 30px 0">
      <div class="main-card" style="background-color: #f4dbd4">
        <p>
          <span class="value">71.028</span> <span class="currency">EGP</span>
        </p>
        <p class="description">Total Value</p>
      </div>

      <div class="main-card">
        <p>
          <span class="value">71.028</span> <span class="currency">EGP</span>
        </p>
        <p class="description">Total Value</p>
      </div>
      <div class="main-card">
        <p>
          <span class="value">71.028</span> <span class="currency">EGP</span>
        </p>
        <p class="description">Total Value</p>
      </div>
      <div class="main-card">
        <p>
          <span class="value">71.028</span> <span class="currency">EGP</span>
        </p>
        <p class="description">Total Value</p>
      </div>
    </div>

    <div
      style="
        display: flex;
        gap: 10px;
        background-color: #ffffff;
        border-radius: 24px;
      "
    >
      <button
        [ngStyle]="{
          'background-color': activeView === 'graph' ? '#FF7F5C' : '#ffffff',
          color: activeView === 'graph' ? '#ffffff' : '#3D5161'
        }"
        (click)="toggleView('graph')"
        style="
          padding: 6px 20px;
          border: none;
          border-radius: 24px;
          background-color: #ff7f5c;
          font-weight: 400;
          color: white;
          cursor: pointer;
        "
      >
        GRAPGH
      </button>

      <button
        [ngStyle]="{
          'background-color': activeView === 'list' ? '#FF7F5C' : '#ffffff',
          color: activeView === 'list' ? '#ffffff' : '#3D5161'
        }"
        (click)="toggleView('list')"
        style="
          padding: 6px 20px;
          border: none;
          border-radius: 24px;
          background-color: #ffffff;
          font-weight: 300;
          color: #3d5161;
          cursor: pointer;
        "
      >
        LIST
      </button>
    </div>

    <div class="list" *ngIf="activeView === 'list'" style="margin-bottom: 20px">
      <div
        class="inner-mid-section"
        style="
          background-color: #ffffff;
          padding: 8px 20px;
          border-radius: 15px;
          gap: 5px;
        "
      >
        <div
          style="
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
          "
        >
          <div
            style="
              display: flex;
              align-items: center;
              gap: 5px;
              position: relative;
              padding-left: 25px;
            "
          >
            <span
              style="
                width: 10px;
                height: 10px;
                background-color: #ff7f5c;
                border-radius: 50%;
                position: absolute;
                left: 10px;
                bottom: 14px;
              "
            ></span>
            <mat-icon style="color: #3d5161">local_gas_station</mat-icon>
            <p
              style="
                margin: 0;
                line-height: 1;
                color: #3d5161;
                font-size: 14px;
                padding-top: 18px;
                font-weight: 500;
              "
            >
              <span style="display: block">STATION NAME</span>
              <span style="display: block">DUMMY</span>
            </p>
          </div>

          <div>
            <button
              mat-icon-button
              [matMenuTriggerFor]="menu"
              style="background: none; border: none"
            >
              <p style="font-weight: bolder; color: #3d5161; margin: 0">...</p>
            </button>

            <mat-menu #menu="matMenu">
              <button mat-menu-item>
                <mat-checkbox>Option 1</mat-checkbox>
              </button>
              <button mat-menu-item>
                <mat-checkbox>Option 2</mat-checkbox>
              </button>
              <button mat-menu-item>
                <mat-checkbox>Option 3</mat-checkbox>
              </button>
            </mat-menu>
          </div>
        </div>

        <hr style="border: 1px solid #3d5161; width: 100%; margin-top: -10px" />

        <div
          style="
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            flex-wrap: wrap;
            margin: 0 20px;
          "
        >
          <p style="font-weight: 450; color: #3d5161">Total Sales</p>
          <p>22.675m</p>
          <p style="font-weight: 450; color: #3d5161">Compression state</p>
          <p>compression</p>
          <p style="font-weight: 450; color: #3d5161">Max transaction/Hour</p>
          <p>20</p>
        </div>

        <div
          style="
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            flex-wrap: wrap;
            margin: 0 20px;
          "
        >
          <p style="font-weight: 450; color: #3d5161">Total Sales</p>
          <p>22.675m</p>
          <p style="font-weight: 450; color: #3d5161">Compression state</p>
          <p>compression</p>
          <p style="font-weight: 450; color: #3d5161">Max transaction/Hour</p>
          <p>20</p>
        </div>
      </div>

      <div
        class="inner-mid-section"
        style="
          background-color: #ffffff;
          padding: 8px 20px;
          border-radius: 15px;
          gap: 5px;
        "
      >
        <div
          style="
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
          "
        >
          <div
            style="
              display: flex;
              align-items: center;
              gap: 5px;
              position: relative;
              padding-left: 25px;
            "
          >
            <span
              style="
                width: 10px;
                height: 10px;
                background-color: #ff7f5c;
                border-radius: 50%;
                position: absolute;
                left: 10px;
                bottom: 14px;
              "
            ></span>
            <mat-icon style="color: #3d5161">local_gas_station</mat-icon>
            <p
              style="
                margin: 0;
                line-height: 1;
                color: #3d5161;
                font-size: 14px;
                padding-top: 18px;
                font-weight: 500;
              "
            >
              <span style="display: block">STATION NAME</span>
              <span style="display: block">DUMMY</span>
            </p>
          </div>

          <div>
            <button
              mat-icon-button
              [matMenuTriggerFor]="menu"
              style="background: none; border: none"
            >
              <p style="font-weight: bolder; color: #3d5161; margin: 0">...</p>
            </button>

            <mat-menu #menu="matMenu">
              <button mat-menu-item>
                <mat-checkbox>Option 1</mat-checkbox>
              </button>
              <button mat-menu-item>
                <mat-checkbox>Option 2</mat-checkbox>
              </button>
              <button mat-menu-item>
                <mat-checkbox>Option 3</mat-checkbox>
              </button>
            </mat-menu>
          </div>
        </div>

        <hr style="border: 1px solid #3d5161; width: 100%; margin-top: -10px" />

        <div
          style="
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            flex-wrap: wrap;
            margin: 0 20px;
          "
        >
          <p style="font-weight: 450; color: #3d5161">Total Sales</p>
          <p>22.675m</p>
          <p style="font-weight: 450; color: #3d5161">Compression state</p>
          <p>compression</p>
          <p style="font-weight: 450; color: #3d5161">Max transaction/Hour</p>
          <p>20</p>
        </div>

        <div
          style="
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            flex-wrap: wrap;
            margin: 0 20px;
          "
        >
          <p style="font-weight: 450; color: #3d5161">Total Sales</p>
          <p>22.675m</p>
          <p style="font-weight: 450; color: #3d5161">Compression state</p>
          <p>compression</p>
          <p style="font-weight: 450; color: #3d5161">Max transaction/Hour</p>
          <p>20</p>
        </div>
      </div>

      <div
        class="inner-mid-section"
        style="
          background-color: #ffffff;
          padding: 8px 20px;
          border-radius: 15px;
          gap: 5px;
        "
      >
        <div
          style="
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
          "
        >
          <div
            style="
              display: flex;
              align-items: center;
              gap: 5px;
              position: relative;
              padding-left: 25px;
            "
          >
            <span
              style="
                width: 10px;
                height: 10px;
                background-color: #ff7f5c;
                border-radius: 50%;
                position: absolute;
                left: 10px;
                bottom: 14px;
              "
            ></span>
            <mat-icon style="color: #3d5161">local_gas_station</mat-icon>
            <p
              style="
                margin: 0;
                line-height: 1;
                color: #3d5161;
                font-size: 14px;
                padding-top: 18px;
                font-weight: 500;
              "
            >
              <span style="display: block">STATION NAME</span>
              <span style="display: block">DUMMY</span>
            </p>
          </div>

          <div>
            <button
              mat-icon-button
              [matMenuTriggerFor]="menu"
              style="background: none; border: none"
            >
              <p style="font-weight: bolder; color: #3d5161; margin: 0">...</p>
            </button>

            <mat-menu #menu="matMenu">
              <button mat-menu-item>
                <mat-checkbox>Option 1</mat-checkbox>
              </button>
              <button mat-menu-item>
                <mat-checkbox>Option 2</mat-checkbox>
              </button>
              <button mat-menu-item>
                <mat-checkbox>Option 3</mat-checkbox>
              </button>
            </mat-menu>
          </div>
        </div>

        <hr style="border: 1px solid #3d5161; width: 100%; margin-top: -10px" />

        <div
          style="
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            flex-wrap: wrap;
            margin: 0 20px;
          "
        >
          <p style="font-weight: 450; color: #3d5161">Total Sales</p>
          <p>22.675m</p>
          <p style="font-weight: 450; color: #3d5161">Compression state</p>
          <p>compression</p>
          <p style="font-weight: 450; color: #3d5161">Max transaction/Hour</p>
          <p>20</p>
        </div>

        <div
          style="
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            flex-wrap: wrap;
            margin: 0 20px;
          "
        >
          <p style="font-weight: 450; color: #3d5161">Total Sales</p>
          <p>22.675m</p>
          <p style="font-weight: 450; color: #3d5161">Compression state</p>
          <p>compression</p>
          <p style="font-weight: 450; color: #3d5161">Max transaction/Hour</p>
          <p>20</p>
        </div>
      </div>
    </div>

    <div
      id="graph"
      *ngIf="activeView === 'graph'"
      class="inner-mid-section"
      style="margin-bottom: 20px"
    >
      <h3 style="color: #3d5161; font-size: 16px; font-weight: 500">
        Graph Section
      </h3>
      <div
        style="
          width: 100%;
          height: 200px;
          background-color: #f0f0f0;
          display: flex;
          justify-content: center;
          align-items: center;
        "
      >
        <p style="color: #3d5161; font-size: 14px; font-weight: 500">
          [Simple Graph Placeholder]
        </p>
      </div>
    </div>
  </div>

  <div class="right-section">
    <h3 style="font-weight: bold; color: #3d5161; margin-top: 25px">
      Hourly Sales
    </h3>

    <mat-icon
      aria-hidden="false"
      aria-label="gas station icon"
      style="color: #3d5161; font-size: 24px"
      >schedule</mat-icon
    >

    <h3 style="font-weight: bold; color: #3d5161; margin-top: 25px">
      Sales by Station
    </h3>

    <div class="progress-container">
      <div class="progress-item">
        <div class="progress-label">
          <div style="display: flex; align-items: center">
            <mat-icon
              aria-hidden="false"
              aria-label="gas station icon"
              style="color: #3d5161; font-size: 24px"
              >local_gas_station</mat-icon
            >
            <span style="font-size: 1.1em; margin-left: 5px; font-weight: 500"
              >Station Name</span
            >
          </div>
          <p style="font-size: 1.2rem; font-weight: 500; margin: 0">36.2456m</p>
        </div>

        <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
      </div>
      <div class="progress-item">
        <div class="progress-label">
          <div style="display: flex; align-items: center">
            <mat-icon
              aria-hidden="false"
              aria-label="gas station icon"
              style="color: #3d5161; font-size: 24px"
              >local_gas_station</mat-icon
            >
            <span style="font-size: 1.1em; margin-left: 5px; font-weight: 500"
              >Station Name</span
            >
          </div>
          <p style="font-size: 1.2rem; font-weight: 500; margin: 0">36.2456m</p>
        </div>

        <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
      </div>
      <div class="progress-item">
        <div class="progress-label">
          <div style="display: flex; align-items: center">
            <mat-icon
              aria-hidden="false"
              aria-label="gas station icon"
              style="color: #3d5161; font-size: 24px"
              >local_gas_station</mat-icon
            >
            <span style="font-size: 1.1em; margin-left: 5px; font-weight: 500"
              >Station Name</span
            >
          </div>
          <p style="font-size: 1.2rem; font-weight: 500; margin: 0">36.2456m</p>
        </div>

        <mat-progress-bar mode="determinate" value="60"></mat-progress-bar>
      </div>
    </div>
  </div>
</div>
